<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.au/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>게시글 상세</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container my-4">
        <h2 class="mb-4">게시글 상세</h2>
        <table class="table table-bordered">
            <tr>
                <th class="table-secondary" style="width: 15%">번호</th>
                <td th:text="${article.id}"></td>
            </tr>
            <tr>
                <th class="table-secondary">제목</th>
                <td th:text="${article.title}"></td>
            </tr>
            <tr>
                <th class="table-secondary">내용</th>
                <td th:text="${article.content}" style="white-space: pre-wrap;"></td>
            </tr>
            <tr>
                <th class="table-secondary">작성일</th>
                <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
        </table>
        <th:block sec:authorize="isAuthenticated()"
                  th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}">
            <div class="d-flex gap-2">
                <a th:href="@{/article/modify/{id}(id=${article.id})}" class="btn btn-warning">수정</a>
                <form id="deleteForm" th:action="@{/article/delete/{id}(id=${article.id})}" method="post">
                    <button type="button" class="btn btn-danger delete">삭제</button>
                </form>
            </div>
        </th:block>
        <th:block layout:fragment="script">
            <script type='text/javascript'>
                const delete_elements = document.getElementsByClassName("delete");
                Array.from(delete_elements).forEach(function (element) {
                    element.addEventListener('click', function () {
                        if (confirm("정말로 삭제하시겠습니까?")) {
                            document.getElementById("deleteForm").submit();
                        }
                    });
                });
            </script>
        </th:block>
</body>
</html>